# the '*' specifier can be used to apply settings for all modules
# in this case, we want all modules to ignore record names
# prefixed with "/home" (i.e., stored in our home directory),
# with a superseding inclusion for files with a ".out" suffix)

# EXCLUDE /sys -> /sys/bus/pci/devices/0000:c0:04.0/config reads this a lot
# EXCLUDE /usr/local -> python
# EXCLUDE /usr/share -> nvidia-application-profiles
# EXCLUDE    .graph$  -> dont measure loading the graph
# EXCLUDE    /proc  -> /proc/cpuinfo and mmap-min-addr amongst others
# should i exclude /dev/shm/_tmpdir_.naco.31723833/ ?  what if this is where the temp file goes
NAME_EXCLUDE    ^/usr        *
NAME_EXCLUDE    ^/sys         *
NAME_EXCLUDE    .graph$         *
NAME_EXCLUDE    ^/proc           *
NAME_EXCLUDE ^/dev/shm          *
NAME_EXCLUDE hpcperm		*
#NAME_EXLUDE	$VIRTUAL_ENV #cant put env vars here
#NAME_EXCLUDE	.zarr/$       *
#NAME_INCLUDE	.zarr/data/$  *
#NAME_INCLUDE    .out$         *

# bump up Darshan's default memory usage to 80 MiB
MODMEM  80

